body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f9f9f9;
}

.form {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 10px rgba(#000, .1);
  padding: 12px;
  width: 600px;

  &-submit {
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    padding: 12px 0;
    transition: background 120ms linear;
    cursor: pointer;

    &:hover, &:focus, &:active {
      background: #f5f5f5;
    }
  }
}

.control {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  &-label {
    width: 35%;
    color: rgba(#000, .7);
  }

  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border: 1px solid transparent;
    transition: border-color 120ms linear;

    &.-has-error {
      border-color: rgba(255, 80, 80, 1);
    }
  }

  &-error {
    font-size: 12px;
    position: absolute;
    top: calc(100% + 2px);
    color: rgba(255, 80, 80, 1);
  }
}

.input {
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  transition: border-color 120ms linear;

  &:hover, &:focus {
    border-color: #c0c0c0;
  }
}